<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <script src="public/plugins/vue/vue.min.js"></script>  
    <style type="text/css">  
        #todo {display: inline-block;}
        #todolist li.finished { background-color: green; color: white; }  
    </style>  
    <div id="todolist">  
        <h2 @click="clickH2" v-bind:title="!isEditting?'点击编辑':''">  
            <input id="#todo" v-model="user" v-show="isEditting" @keyup.enter="isEditting=false" @blur="isEditting=false" />  
            <div v-show="!isEditting" @click="isEditting=true" v-bind:title="user">{{ user }} 的todolist</div>
        </h2>  
        <div>  
            <button @click="addOne">添加新项目</button>  
            <button @click="deleteSelectedItems">删除所选项目</button>  
            <button @click="deleteAll">删除所有项目</button>  
        </div>  
        <ul v-for="(item, index) in list">  
            <li v-bind:class="[item.finished?'finished':'']">  
                <div v-show="item.isEditting">  
                    <input type="checkbox" v-model="item.selected" />  
                    <input v-model="item.title" class="content" />  
                    <button @click="item.isEditting=false">保存</button>  
                </div>  
                <div v-show="!item.isEditting">  
                    <input type="checkbox" v-model="item.selected" />  
                    <span>{{item.title}}</span>  
                    <button v-if="!item.finished" @click="item.finished=true">标记为已完成</button>  
                    <button v-if="item.finished" @click="item.finished=false">标记为未完成</button>  
                    <button @click="editItem(index)">编辑</button>  
                </div>  
            </li>  
        </ul>  
    </div>  
    <script>  
    localStorage.removeItem('todolist_user');
    localStorage.removeItem('todolist_list');
        new Vue({  
            el: '#todolist',  
            data: {  
                    isEditting: false,  
                    user: "",  
                    list: []  
                 
            },  
            watch: {  
                user: function (val, oldVal) {  
                    localStorage.setItem('todolist_user', val);
                },  
                list: {  
                    handler: function (val, oldVal) {  
                        var str = JSON.stringify(val)  
                        localStorage.setItem('todolist_list', str)  
                    },  
                    deep: true  
                }  
            },  
            methods: {  
                clickH2: function () {  
                    if (!this.user) {  
                        this.isEditting = true  
                    }  
                },  
                addOne: function () {  
                    var item = {  
                        title: '',  
                        finished: false,  
                        selected: false,  
                        isEditting: true  
                    }  
                    this.list.push(item)  
                    var vm = this  
                    Vue.nextTick(function () {  
                        vm.$el.querySelectorAll('li')[vm.list.length - 1].querySelector('.content').focus()  
                    })  
                },  
                editItem: function (index) {  
                    this.list[index].isEditting = true  
                    var vm = this  
                    Vue.nextTick(function () {  
                        vm.$el.querySelectorAll('li')[index].querySelector('.content').focus()  
                    })  
                },  
                deleteSelectedItems: function () {  
                    this.list = this.list.filter(function (item) {  
                        return !item.selected  
                    })  
                },  
                deleteAll: function () {  
                    this.list = []  
                }  
            }  
        });
        </script>
        <div id="todo-list-example">
          <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
          >
          <ul>
            <li
              
              v-for="(todo, index) in todos"
              v-bind:title="todo"
              v-on:remove="todos.splice(index, 1)"
            >{{todo}}
                <button v-on:click="todos.splice(index, 1)">X</button>
            </li>
          </ul>
        </div>
        <script>
        // Vue.component('todo-item', {
        //       template: '\
        //         <li>\
        //           {{ title }}\
        //           <button v-on:click="$emit(\'remove\')">X</button>\
        //         </li>\
        //       ',
        //       props: ['title']
        //     });
        new Vue({
              el: '#todo-list-example',
              data: {
                newTodoText: '',
                todos: [
                  'Do the dishes',
                  'Take out the trash',
                  'Mow the lawn'
                ]
              },
              methods: {
                addNewTodo: function () {
                  this.todos.push(this.newTodoText)
                  this.newTodoText = '';
                }
              }
            });
    </script> 
</body>
</html>