<p>宝宝，你看到这个邮件不用慌张，这是我在测试我写的代码哦，爱你 ^0^ </p>
<p>Thank you for booking your trip with Meadowlark Travel, {{cart.billing.name}}</p>
<p>Your reservation number is {{cart.number}}, and an email has been sent to {{cart.billing.email}} for your records.</p>
