<div class="alert alert-dismissable alert-{{flash.type}}">
	<button type="button" class="close" data-dismissable='alert' area-hidden="true">&times;</button>
	<strong>{{flash.intro}}</strong>
	{{{flash.message}}}
</div>
<div style="text-align: center"> 
	<p>The page will go to the login within <strong id="seconds"></strong> seconds</p>
</div>
<script>
	(function(){
		var seconds = 5;
		function redirectPage(){
			if(seconds > 0){
				$('#seconds').html(seconds--);
				console.log(seconds);
				setTimeout(redirectPage, 1000);
			}else{
				window.history.back(-1); 
			}
		}
		setTimeout(redirectPage, 1000);		
	})();
</script>